<div> 
	<h3>Interested in publishing in the Filadelfian?</h3> <br/>
	
    <p class="tell_us_why">
	    Send us an email. <br/> <br/>
		Tell us why you should be here, and include the first piece you're looking to publish with us. <br/> <br/>

		hello [at] filadelfian [dot] com
    </p>

</div>