<div> 
	<h3>Interested in seeing your work on the Filadelfian?</h3> <br/>
	Send us an email. <br/>

	Tell us why you should be here, and include the first piece you're looking to publish with us. <br/>

	hello [at] filadelfian [dot] com

</div>