<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>


<% @user.posts.each do |post| %>
  
    <%= link_to post.title, post, :class => "post_title" %>
    
    <p class="post_content">
    <%= post.content[0..300] + "..." %>
    </p>
    <br /> <br/>
    
<% end %>
