<% if user_signed_in? %>
    <%= button_to "Publish a new piece", new_post_path, :class => "btn btn-custom-grey", :method => :get %>
<% end %>


<% @posts.each do |post| %>
  
    <%= link_to post.title, post, :class => "post_title" %>
    <p class="author_username">
      <%= link_to post.user.username, post.user %>
    </p>
    <p class="post_content">
    <%= post.content[0..300] + "..." %>
    </p>
    <br /> <br/>
    
<% end %>





