<% if user_signed_in? %>
    <%= button_to "Submit a new post", new_post_path, :class => "btn btn-custom-grey", :method => :get %>
<% end %>




<% @posts.each do |post| %>
  
    <%= link_to post.title, post, :class => "post_title" %>
    <p class="author_username">
      <%= post.user.username unless post.user.nil? %>
    </p>
    <p class="post_content">
    <%= post.content[0..300] + "..." %>
    </p>
    <br /> <br/>
    
<% end %>





