
html {
  overflow-y: scroll;
}

@font-face {
    font-family: 'ValentinaRegular';
    src: url('valentina-regular.eot');
    src: url('valentina-regular.eot') format('embedded-opentype'),
         url('valentina-regular.woff') format('woff'),
         url('valentina-regular.ttf') format('truetype'),
         url('valentina-regular.svg#ValentinaRegular') format('svg');
}



html, body, a, p {
	font-family:'ValentinaRegular' !important;
}

a:hover {
	cursor: pointer;
}

.container {

}

.navbar-inner {
	background: none;
	border: none;
	box-shadow: none;
	background-color: #2C0571;
	border-radius: 0px;
}

.navbar .nav > li > a, .navbar .brand {
	color: white;
	text-shadow: none;
	border-radius: 0px;
}

.navbar .nav > li > a:hover {
	color: #777;
}

#logo{
	font-size: 36px;
	font-weight: bold;
	text-align: center;
}

#footer_logo {
	font-size: 24px;
	font-weight: bold;
	float: left;
	margin-left: 20px;
}

#logo a, #footer_logo a {
	color: black !important
}

#logo:hover {
	background-color: transparent;
	color: lightgrey;

}

#star {
	font-size: 42px;
	font-weight: bold;
	margin-top: 7px;
}

#star:hover {
	color: white;
}

#plus:hover {
	color: white !important;
}

a:hover {
	background-color: transparent !important;
	text-decoration: none;
}

.btn-custom-grey {
  background-color: hsl(0, 0%, 7%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#444444", endColorstr="#111111");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#444444), to(#111111));
  background-image: -moz-linear-gradient(top, #444444, #111111);
  background-image: -ms-linear-gradient(top, #444444, #111111);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #444444), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(top, #444444, #111111);
  background-image: -o-linear-gradient(top, #444444, #111111);
  background-image: linear-gradient(#444444, #111111);
  border-color: #111111 #111111 hsl(0, 0%, 2%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

.post_title {
	font-size: 24px;
	font-weight: bold;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
	background: none;
	color: white !important;
	background-color: #2C0571 !important;
}

* {
	margin: 0;
}
html, body {
	height: 100%;
}
.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 142px; /* .push must be the same height as .footer */
}

#publish_link {
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	margin-top: 20px;
	padding-bottom: 5px;
	border-top: 5px solid #2C0571; 
	border-bottom: 5px solid #2C0571; 
	color: black;
}

#publish_link a {
	color: black;
}



.buttonize {
	display: inline;
	padding: 0;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fff;
	color: #999;
	border: 3px solid #f8f8f8;
	border-radius: 50px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	font-weight: 800
}

.buttonize:hover {
	background-color: #2C0571;
	color: #fff;
	border-color: #2C0571;
}


.user_bio {
	margin-top: 20px;
}

a:hover {
	color: black !important;
}

.purple_hover a:hover {
	color: #2C0571;
}

.black_hover a:hover {
	color: black;
}

.post_author {
	font-size: 20px;
}

.content {
	max-width: 650px;
}

#list {
	height: 30px;
	width: 30px;
	color: white;
}






